.navbar{
    width: 100vw;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px
}

.navbar a:hover{
    text-decoration: underline;
}

.logout-btn{
    border-radius: 10px;
    background-color: red;
    padding: 10px 10px;
    border: 1px solid var(--light);
    color: white;
    font-weight: bold;
    cursor: pointer;
}